@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
 
}


.App section{
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

::-webkit-scrollbar {
  width: 0px;
}

.skeleton {
  width: 100vw;
  height: 100vh;
  background-color: gray;
}
.skeleton__card {
  width: 682px;
  height: 135px;
  background-color: gray;
}

.row {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 24px;
  width: 100%;
  gap: 40px;
}

p {
  line-height: 1.5;
  font-size: 14px;
  color: #171a20;
  padding: 6px 24px 14px;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

img {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 40px;
  color: #171a20;
}

h2 {
  color: #171a20;
  letter-spacing: 5px;
}

.transform {
  transform: translateX(0) !important;
}

.overflowhide {
  overflow: hidden !important;
}

.reveal {
  opacity: 0;
  transition: all 300ms ease;
}

.reveal.active {
  opacity: 1;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
}

.active {
  opacity: 1 !important;
  visibility: visible !important;
}

.nostock {
  cursor: not-allowed;
}
/*

NAVBAR

*/

nav {
  height: 60px;
  display: flex;
  background-color: transparent;
  align-items: center;
  position: fixed;
  margin-top: 35px;
  width: 100%;
  z-index: 9999;
}

.nav__container--upper {
  height: 35px;
  width: 100%;
  background-color: #171a20;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.mcert {
  width: 36px;
  height: 12.8px;
}

.mcert__para {
  color: white;
  padding: 0;
  margin-left: 5px;
  margin-right: 20px;
}

.nav__container {
  width: 100%;
  max-width: 100vw;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  transition: all 300ms ease;
}

.nav__container.active {
  color: white;
  background: #ffffff;
}

.logo {
  width: 60px;
}

.logo__link {
  display: flex;
  align-items: center;
}

.logo__motto {
  color: #171a20;
}

.nav__link:hover {
  background-color: rgba(0, 0, 0, 0.156);
  border-radius: 20px;
}

.nav__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  margin-left: 8px;
  margin-right: 8px;
  color: #171a20;
  letter-spacing: 0.5px;
  padding: 8px 8px;
  transition: all 500ms ease;
}

.middle {
  position: relative;
  left: -30px;
}

/*

LANDING

*/
#landing {
  background-image: url(https://www.wsupercars.com/wallpapers-regular/BMW/2021-BMW-M5-Competition-015-1080.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 100vh;
}

.header__container--upper {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: 12.5%;
  z-index: 1;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underline {
  text-decoration: underline;
}

.header__para {
  animation: fadeInAnimationSecond ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
  opacity: 0;
}

.header__title {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInAnimationSecond {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.header__container--lower {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 150px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 68%;
  align-items: center;
}

.order__selection {
  display: flex;
  gap: 25px;

  margin: 0 auto;
}

.custom__order {
  width: 246px;
  height: 40px;
  background-color: #171a20e4;

  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInAnimationRight ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
  opacity: 0;
}

.existing__inventory {
  width: 246px;
  height: 40px;
  background-color: #f4f4f4a6;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInAnimationLeft ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
  opacity: 0;
}

.order__selection--para {
  color: #ffffff;
  padding: 0;
}

.order {
  color: #ffffff;
}

.existing {
  color: #393c41;
}

@keyframes fadeInAnimationLeft {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInAnimationRight {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.scroll__down {
  margin-top: 2rem;
  font-size: 24px;
  position: relative;
  animation: scroll-down 1.25s ease infinite;
}

@keyframes scroll-down {
  0% {
    top: 0%;
  }

  20% {
    top: 0%;
  }

  40% {
    top: 5%;
  }

  60% {
    top: 2.5%;
  }

  80% {
    top: 5%;
  }

  100% {
    top: 0%;
  }
}

/*
SECOND CAR 
*/
#second__car {
  background-image: url(https://www.wsupercars.com/wallpapers-regular/BMW/2021-BMW-M3-Competition-013-1080.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
THIRD CAR 
*/
#third__car {
  background-image: url(https://www.wsupercars.com/wallpapers-regular/BMW/2023-BMW-7-Series-001-1080.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
FOURTH CAR 
*/
#fourth__car {
  background-image: url(https://www.wsupercars.com/wallpapers-regular/BMW/2023-BMW-8-Series-001-1080.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
FIFTH CAR 
*/
#fifth__car {
  background-image: url(https://www.wsupercars.com/wallpapers-regular/BMW/2022-BMW-iX-M60-001-1080.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
SIXTH CAR 
*/
#sixth__car {
  background-image: url(https://www.wsupercars.com/wallpapers-regular/BMW/2022-BMW-i4-M50-004-1080.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
MENU
*/
.modal__container {
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease;
}

.modal__backdrop {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: -35px;
  background-color: rgba(0, 0, 0, 0.231);
  backdrop-filter: blur(4px);
  z-index: 1000;
  transition: all 300ms ease;
}

.modal {
  backdrop-filter: blur(10px);
  width: 300px;
  height: 100vh;
  position: absolute;
  z-index: 10000;
  right: -25px;
  top: -35px;
  background-color: white;
  transition: all 500ms ease;
  transform: translateX(200px);
  padding: 40px;
}

.xmark {
  position: absolute;
  z-index: 999999;
  color: #171a20cc;
  top: 2px;
  right: 15px;
  cursor: pointer;
  transform: translateX(200px);
  transition: all 500ms ease;
  font-size: 24px;
}

.modal__list--container {
  width: 100%;
  height: 75%;
  position: relative;
  top: 5%;
  padding-left: 30px;
}

.modal__lists {
  display: block;
}

.modal__list {
  margin-bottom: 5px;
  padding: 10px;
}

.modal__para {
  font-size: 14px;
  color: #171a20cc;
  padding: 0;
  font-weight: 500;
}

/*
NEWCARMARKET
*/
#market .modal__backdrop,
#market .modal {
  top: 0px;
}
#market .fa-xmark {
  top: 35px;
  right: 14px;
}
#market .navigation .nav__container--upper {
  display: none;
}
#market .navigation nav {
  position: fixed;
  background-color: transparent;
  margin-top: 0;
}
#market .nav__link,
#market .logo__motto {
  color: white;
}

#market .nav__container:hover {
  background-color: #ffffff;
}
#market .nav__container:hover .nav__link,
#market .nav__container:hover .logo__motto {
  color: #171a20;
}

#market .nav__link.active,
#market .logo__motto.active {
  color: #171a20;
}

#market__body {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  height: 1000vh;
  background-color: #171a20;
}
.market__main {
  flex: 1 1;
}
.market__container {
  margin: 0 auto;
  padding: 24px 0;
  position: relative;
  top: 10rem;
}

#market .row {
  display: flex;
  justify-content: center;
}

#search {
  width: 400px;
  height: 45px;
}

.market__input {
  width: 100%;
  height: 100%;
  border-radius: 22.5px;
  line-height: 100%;
  padding-right: 22.5px;
  padding-left: 50px;
  border: none;
  outline: 0;
}
.market__back {
  width: 200px;
  height: 100px;
  background-color: rebeccapurple;
}

#filter {
  background-color: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  color: #606266;
  height: 40px;
  line-height: 40px;
  max-width: 200px;
  outline: none;
  padding: 0 16px;
  width: 100%;
}

.checkboxes {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.label {
  color: white;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}
/*
MARKET SPECIFIC 
*/
.market__specific {
  height: 100vh !important;
}
.market__specific .market__container {
  top: 3rem;
}
.market__specific--content {
  height: 800px;
  width: 100%;
  max-width: 714px;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
}

.content__wrapper {
  width: 600px;
  padding: 20px;
}

.market__specific--info {
  margin-top: 16px;
  line-height: 40px;
}
.market__specific--title {
  font-size: 28px;
  font-weight: normal;
}
.market__specific--price {
  font-size: 22px;
  font-weight: bold;
}
.market__specific--facts {
  background-color: #f8f9fa;
  width: 100%;
  border-bottom: #171a20 1px solid;
  border-top: #171a20 1px solid;
}
.facts__title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.facts {
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 16px;
}

.icon__container {
  display: flex;
}
.icon {
  height: 24px;
  width: 24px;
  margin-right: 5px;
}
.icon__para {
  padding: 0;
}

.icon__para--container {
  position: relative;
  top: -9px;
}

.datainfo {
  font-weight: bold;
}

.contact {
  text-align: end;
  transition: all 300ms ease;
}
.contact:hover {
  cursor: not-allowed;
  text-decoration: underline;
}

.fa-x {
  position: relative;
  left: 100%;
  font-size: 20px;
  top: 4px;
  color: black;
}

/*
CARD
*/
.card__row {
  max-width: 714px;
  width: 100%;
  margin: 0 auto;
}
.card__link {
  max-width: 714px !important;
  height: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 714px;
  height: 167px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-color: #ffffff;
  transition: all 300ms ease;
}
.card:hover {
  transform: scale(1.05);
}

.card__container {
  width: 100%;
  max-width: 682px;
  height: 135px;

  display: flex;
  background-color: #f8f9fa;
}

.card__figure {
  width: 209px;
  height: 135px;
}

.card__title {
  font-size: 17px;
  line-height: 20px;
  font-weight: normal;
  color: rgb(99, 1, 99);
}
.card__info {
  margin-left: 15px;
}
.card__info--lists {
  margin-top: 4px;
  font-size: 15px;
}
.card__list {
  color: rgb(105, 103, 102);
}
.card__list:not(:last-child):after {
  content: "·";
  display: inline-block;
  margin: 0px 0.25em;
}
.card__price {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  margin-top: 50px;
}

/*
SIGN IN
*/



#sign-in .nav__links {
  opacity: 0;
  visibility: hidden;
}
#sign-in .nav__container--upper {
  display: none;
}
#sign-in nav {
  position: relative;
  margin-top: 0;
}

.sign-in__container {
  display: flex;
  justify-content: center;
}
.sign-in__content {
  width: 100%;
  max-width: 380px;
}
.sign-in__title {
  font-size: 34px;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 8px;
  text-align: center;
  color: #171a20;
}
.sign-in__column {
  padding-top: 16px;
  padding-bottom: 8px;
}
.sign-in__para {
  font-size: 16px;
  font-weight: 500;
  color: #5d5c61;
  width: 100%;
  max-width: 332px;
  height: 38px;
  padding: 0 40px;
}
.input__wrap {
  width: 100%;

  height: 38px;
  padding: 0 20px;
}
.login__input {
  width: 100%;
  height: 100%;
  border-radius: 22.5px;
  line-height: 100%;
  padding-right: 22.5px;
  padding-left: 22.5px;
  border: none;
  outline: 0;
  background-color: #f5f5f5;
  color: #393c41;
  font-size: 16px;
}

.sign-in__button {
  width: 100%;
  height: 100%;
  border-radius: 22.5px;
  line-height: 100%;
  padding-right: 22.5px;
  padding-left: 22.5px;
  border: none;
  outline: 0;
  background-color: #3d69e1;
  color: #ffffff;
  font-size: 16px;
  transition: all 300ms ease;
  cursor: pointer;
}
.button__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 38px;
  padding: 0 20px;
  margin-top: 16px;
}
.sign-in__button:active {
  transform: scale(0.95);
}
.need__help {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
.need__help--link {
  font-size: 12px;
  box-shadow: none;
  text-align: center;
  text-decoration: underline;
  line-height: 1.2rem;
  color: #393c41;
  cursor: not-allowed;
}
.seperator {
  padding: 0 0.5rem;
}
.or {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  align-items: center;
  color: #5c5d61;
  font-weight: 500 !important;
  white-space: nowrap;
}
.or::before {
  content: "";
  display: inline-block;
  width: 40%;
  height: 1px;
  margin: 0 8px;
  background-color: gray;
}
.or::after {
  content: "";
  display: inline-block;
  width: 40%;
  height: 1px;
  margin: 0 8px;
  background-color: gray;
}

.create {
  background-color: white;
  color: #181b21;
  border: 3px solid #171a20;
  font-size: 14px;
  font-weight: 500;
}
.register__link {
  width: 100%;
}

/*
ACCOUNT
*/
#account{
  height: 88vh;
}
#account .modal__backdrop,
#account .modal {
  top: 0px;
}
#account .fa-xmark {
  top: 35px;
  right: 14px;
}
.signout {
  position: relative;
  top: 200px;
}


#account .nav__container--upper {
  display: none;
}
#account nav {
  position: relative;
  margin-top: 0;
}
.account__container {
  flex-direction: row;
  padding: 0 48px;
  display: flex;
}

.account__img {
  height: 18px;
  width: 18px;
}
.account__lists {
  width: 300px;
  padding-top: 104px;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
}
.account__list {
  display: flex;

  margin: 25px 0 8px;
  padding: 5px 0;
}
.account__link {
  display: flex;
  align-items: center;
  gap: 15px;
}
.account__link:hover .account__para {
  color: #171a20;
}
.account__para {
  font-size: 20px;
  color: #5c5d61;
  font-weight: 500;
}
.image__bg {
  display: flex;
  align-items: center;
  height: 34px;
  width: 34px;
  background: #eee;
  border-radius: 50%;
  justify-content: center;
}

.inactive {
  background-color: transparent;
}

.account__content--container {
  margin-top: 4rem;

}
.content__title {
  font-weight: 500;
  font-size: 34px;
  width: 240px;
}
.content__greeting {
  font-weight: 400;
  letter-spacing: 2px;
}
/*
FOOTER
*/
#footer {
  
  height: 70px;
  width: 100%;
  padding: 0 24px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__lists {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.footer__link {
  color: #5c5e62;
  font-size: 12px;
  font-weight: 500;
  cursor: not-allowed;
}


/*
PROFILE SETTINGS 
*/
.profile__settings{
  width: 100%;
  max-width: 520px;
  height: 300px;
  justify-content: space-between;
  padding-top: 30px;
  display: flex;
  gap: 10rem;
  
}


.settings__para{
  font-size: 16px;
  color: #5C5E62;
  font-weight: 500;
  padding: 0;
  
  
}
.setting__para{
  font-size: 16px;
  margin-top: 4px;
  padding: 0;
  color: #171a20;
  font-weight: 500;
 
}
.edit--btn__para{
  padding: 0;
  margin-top: 8px;
  color: #393c41;
  font-size: 16px;
  cursor: pointer;
  width: 35px;
}
.edit--btn__para:hover{
text-decoration: underline;
}

.delete__account{
  padding: 0;
  color: #393c41;
  font-size: 16px;
  cursor: pointer;
  width: 110px;
}
.delete__account:hover{
  text-decoration: underline;
}
/*
MEDIA QUERY 
*/
@media (max-width: 1200px) {
  .App section{
    scroll-snap-align: none;
    scroll-snap-stop: none;
  }
  .content__title{
    display: none;
  }
  .account__container{
    display: block;
  }
  .delete__account{
    position: relative;
    top: -6rem;
  }
 
  .nav__container.active {
    background: transparent;
  }
  #market .nav__container:hover {
    background-color: #171a20;
  }

  .last {
    color: #ffffff !important;
  }

  #market .last {
    background-color: rgba(128, 128, 128, 0.534);
  }
  #landing .last {
    color: #171a20 !important;
  }
  #market .logo__link {
    opacity: 1;
    visibility: visible;
  }

  .header__container--lower {
    top: 42.5%;
  }

  .logo__motto {
    display: none;
  }

  .middle {
    display: none;
  }

  .nav__list:first-child {
    display: none;
  }

  .nav__link {
    background-color: rgba(0, 0, 0, 0.156);
    border-radius: 20px;
  }
}

@media (max-width: 625px) {
  .facts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  
 .account__lists{
  padding-top: 40px;
 }
 

  .footer__lists {
    flex-direction: column;
  }
  .hide {
    display: none;
  }
  #footer {
    height: 100px;
    padding: 16px 24px 20px;
  }

  .nav__container {
    padding: 0 8px;
  }

  .order__selection {
    flex-wrap: wrap;
    justify-content: center;
  }

  .custom__order {
    width: 90vw;
  }

  .existing__inventory {
    width: 90vw;
  }
}

@media (max-width: 835px) {
  #landing {
    background-image: url(https://www.wsupercars.com/wallpapers-phone/BMW/2021-BMW-M5-Competition-006-2400p.jpg);
  }

  #second__car {
    background-image: url(https://www.wsupercars.com/wallpapers-phone/BMW/2021-BMW-M3-Competition-006-2400p.jpg);
  }

  #third__car {
    background-image: url(https://www.wsupercars.com/wallpapers-phone/BMW/2023-BMW-7-Series-001-2400p.jpg);
  }

  #fourth__car {
    background-image: url(https://www.wsupercars.com/wallpapers-phone/BMW/2023-BMW-8-Series-001-2400p.jpg);
  }

  #fifth__car {
    background-image: url(https://www.wsupercars.com/wallpapers-phone/BMW/2022-BMW-iX-M60-003-2400p.jpg);
  }

  #sixth__car {
    background-image: url(https://www.wsupercars.com/wallpapers-phone/BMW/2022-BMW-i4-M50-002-2400p.jpg);
  }

  .header__container--lower {
    top: 20.5%;
  }
  .market__title {
    font-size: 32px;
  }
}

@media (max-width: 714px) {
  .card {
    max-width: 582px;
    padding: 16px;
    height: 154px;
    width: 100%;
  }
  .card__container {
    height: 90px;
  }

  .card__figure {
    width: 135px;
    height: 90px;
  }
  .card__price {
    margin-top: 10px;
  }
  .card__title {
    font-size: 15px;
  }
  .card__list {
    font-size: 12px;
  }
  .card__price {
    font-size: 15px;
  }
  .skeleton__card {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 425px) {
  .logo__motto {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .facts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 533px){
  .profile__settings{
    gap: 20px;
  }
}